.image-box {
	text-align: center;
	background: #ccc;
}

.image-box,
.image-box img {
	height: 250px;
}

.comic-container {
	border: #d6d6d6 1px solid;
	padding: 10px;
	border-radius: 5px;
	box-shadow: -0.5px 0.5px 5px #cccccc;
	margin-bottom: 20px;
}

.comic-container:hover {
	box-shadow: 2px 4px 5px #cccccc;
}

.comic-publisher {
	font-size: 13px;
	color: #8a8787;
}

.comic-label {
	font-weight: 600;
	font-style: italic;
	text-decoration: underline;
	margin-right: 5px;
}

.btn {
	padding: 2px 10px;
	font-size: 13px;
	/* margin-right: 110px; */
}
