html,
body {
	height: 100%;
}

body {
	background: #ecf1f5 !important;
}

/* Main Header Start*/
#main-nav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
}

#main-nav #brand-container {
	width: 20%;
	background: #ffffff;
	display: flex;
	justify-content: center;
}

#main-nav a#brand {
	display: block;
	text-align: center;
	padding: 5px 0;
	width: 80%;
}

#main-nav a img {
	height: 70px;
}

#menu-icon-container {
	width: 80%;
}

#main-nav #menu-icon {
	background: #2e323e;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 40px;
}

#main-nav #menu-icon button {
	display: block;
	color: #ff336a;
	font-size: 20px;
	border-radius: 8px;
	padding: 10px 17px;
	margin: 0;
	background: #2e323e;
	transition: ease-out 0.3s;
}

#main-nav #menu-icon button:hover {
	background: #454b5d;
}

#avatar {
	margin-left: 20px;
}

#avatar img {
	border: 2px solid #ff336a;
	height: 48px;
	width: 48px;
	border-radius: 100%;
}

/* Main Header End*/

/* Sidebar Start*/
#sidebar {
	background: #ffffff;
	height: 100%;
	padding-top: 40px;
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 8888;
	width: 20%;
	box-shadow: 1px 1px 10px #e7e5e5;
}

#sidebar ul {
	list-style: none;
	padding: 0;
}

#sidebar ul li {
	padding: 20px 0 20px 50px;
}

#sidebar ul li:hover {
	background: #e7e5e5;
	padding-left: 70px;
	transition: ease-out 0.3s;
}

#sidebar ul li a {
	color: #2e323e;
	font-size: 18px;
}

#side-menu li a:hover {
	text-decoration: none;
	font-weight: 600;
}

#sidebar ul li a .fa {
	margin-right: 10px;
	color: #ff336a;
}
/* Sidebar End*/

/* Content Start*/
#content {
	width: 80%;
	position: relative;
	top: 80px;
	left: 20%;
}

#content-header {
	width: 80%;
	position: fixed;
	top: 80px;
	left: 20%;
	z-index: 200;
	padding: 12px 20px;
	background: #ffffff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-shadow: 2px 2px 8px #e7e5e5;
}

#content-header p {
	margin-bottom: 0;
	color: #a7a4a4;
	text-transform: uppercase;
	font-size: 14px;
}

#content-header a:hover {
	text-decoration: none;
}

#content-body {
	margin: 65px 20px 20px 20px;
	padding: 20px;
	background: #ffffff;
}

.white-box {
	margin: 65px 20px 20px 20px;
	padding: 20px;
	background: #ffffff;
}

#content-footer {
	margin-top: 20px;
	padding: 20px;
	background: #ffffff;
	text-align: center;
}
/* Content End*/

/* Loader Start */
.loader,
.error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
}
/* Loader End */

/* About Start */
.about {
	height: 56vh;
}
/* About End */

@media all and (max-width: 992px) {
	/* utils */
	#sidebar.expand-menu {
		width: 25%;
	}

	/* Main Header Start*/
	#main-nav #brand-container {
		width: 26.5%;
		transition: ease-in 0.3s;
	}

	#main-nav a#brand {
		width: 73.5%;
		transition: ease-in 0.3s;
	}

	#menu-icon button#open {
		display: inline-block;
	}
	/* Main Header End*/

	/* Sidebar Start*/
	#sidebar {
		width: 7%;
		transition: ease-in 0.3s;
		overflow-x: hidden;
	}
	/* #sidebar:hover {
		width: 25%;
		transition: ease-in 0.3s;
	} */

	#sidebar ul li {
		padding: 20px 0 20px 17px;

		width: 500%;
	}

	#sidebar ul li:hover {
		padding-left: 20px;
	}

	#sidebar ul li a .fa {
		font-size: 25px;
		margin-right: 29px;
	}

	#sidebar ul li a .fa.fa-bolt {
		margin-left: 5px;
	}

	#sidebar ul li a span {
		font-size: 16px;
	}
	/* Sidebar End*/

	/* Content Start*/
	#content,
	#content-header {
		width: 93%;
		left: 7%;
	}
	/* Content End*/

	/* Loader Start */
	.loader,
	.error {
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
	}
	/* Loader End */

	/* About Start */
	.about {
		height: auto;
	}
	/* About End */
}

@media all and (max-width: 768px) {
	/*utils*/
	#sidebar.expand-menu {
		position: fixed;
		top: 80px;
		left: 0;
		width: 70%;
		transition: ease-in 0.3s;
	}

	/* Main Header Start*/
	#main-nav #menu-icon {
		padding-right: 20px;
	}

	#main-nav #menu-icon button {
		font-size: 16px;
		padding: 5px 12px;
	}

	#avatar {
		margin-left: 10px;
	}
	/* Main Header End*/

	/* Sidebar Start*/
	#sidebar {
		/* display: none; */
		position: fixed;
		top: 80px;
		left: -52px;
	}
	/* Sidebar End*/

	/* Content Start*/
	#content {
		width: 100%;
		top: 0px;
		left: 0;
		transition: ease-in 0.3s;
	}

	#content-header {
		width: 100%;
		top: 80px;
		left: 0;
		transition: ease-in 0.3s;
	}

	/* #content-header {
		margin-top: 80px;
	} */

	#content-header a {
		font-size: 10px;
	}

	#content-body {
		margin-top: 140px;
	}
	/* Content End*/
}
